.option-container{
    display: flex;
    margin: 5px 10px 10px 5px;
    flex-direction: column;

    .title-container{
        width: 80%;
        height: 30px;
        display: flex;
        justify-content: flex-start;
        padding: 10px;
        align-items: center;
        background-color: #e9bbbf;
        color: white;
        font-weight: bold;
        column-gap: 10px;
        .list-container{
            ul{
                li{
                    font-weight: bold;
                    color: #ddd;
                }
         } }
        
    }
}